body{
    color: black;
    background-color: violet
}

img{
    width: 300px;
    height: 400px;
}
.class{
    text-align: center;
}

.container {
padding: 0px 70px;
}
h3{
    color: black
}
p{
    color: black;
}

p { font-size: 16px; }
